
// Headings: base heading styles.
// Headings are used exclusively outside articles; articles have their own
// content styling for headlines and subheads
//
// .heading--something
//
// Styleguide 0.1.0

.heading {

  &--h1 {
    font-size: ms(4);
    font-weight: 300;
  }
  &--h2 {
    font-size: ms(3);
    font-weight: 300;
  }
  &--h3 {
    font-size: ms(2);
    font-weight: 400;
  }
  &--h4 {
    font-size: ms(1);
    font-weight: 400;
  }
  &--h5 {
    font-size: ms(0);
    font-weight: 500;
  }
  &--h6 {
    font-size: ms(-1);
    font-weight: 600;
  }
}
