
// Wells: enclose a block of content in a container with a solid background.
// Useful for alerts, ticker-style bars
//
// .c-well--info        - Adds a bottom border with our brand color.
// .c-well--alert       - Adds a red bottom border.
// .c-well--dark        - A wel with a dark gray background.
//
// Styleguide 0.1.0

.c-well {
  background: $color-gray-lightest;
  display:  block;
  padding: $ms-base $base-line-height;

  &--info {
    border-bottom: 1px solid $color-primary;
    border-top: 1px solid $color-white;
  }

  &--alert {
    border-bottom: 1px solid $color-alert;
    border-top: 1px solid $color-white;
  }

  &--dark {
    background-color: $color-gray-darkest;
    color: $color-white;
  }

  &--xl-padding {
    padding: $base-line-height;
  }

  &--dismissible {
    position: relative;
  }

  &__dismiss-btn {
    cursor: pointer;
    position: absolute;
    right: $ms-base;
    top: $ms-base;
  }
}
