
// Containers: Horizontal blocks that hold content or grid elements.
// Size modifiers are used to achieve containers of different widths.
//
// .l-container--sm         - 624px max-width; good for article body
// .l-container--med        - 870px max-width
// .l-container--lg         - 1020px max-width
// .l-container--xl         - 1326px max-width
//
// Styleguide 0.1.0


// Mixins

// CONTAINER WIDTHS
// Calculate max-widths for grid containers.

@mixin container-width($multiplier) {

  // Calculate max-width using gutter as an important number,
  // and adding two extra gutters equal to the standard
  // padding given to containers.
  $max-container-width: ($multiplier * $base-number);

  max-width: $max-container-width;
}

// Classes

.l-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  &--sm {
    @include container-width(104);     // 104 * 6 = 624
  }

  &--med {
    @include container-width(145);     // 145 * 6 = 870
  }

  &--lg {
    @include container-width(170);    // 170 * 6 = 1020
  }

  &--xl {
    @include container-width(221);    // 221 * 6 = 1326
  }
}
