
// Grids: Classes for creating layouts.
//
//
// Styleguide 0.1.0

.l-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  &--sm {
    @include media-max($media-mobile) {
      .l-col {
        flex-basis: 100%;
        margin-bottom: ($base-line-height / 2);
      }
    }
  }

  &--med {
    @include media-max($media-tablet) {
      .l-col {
        flex-basis: 100%;
        margin-bottom: ($base-line-height / 2);
      }
    }
  }

  &--lg {
    @include media-max($media-desktop) {
      .l-col {
        flex-basis: 100%;
        margin-bottom: ($base-line-height / 2);
      }
    }
  }

  &--xl {
    @include media-max($media-wide) {
      .l-col {
        flex-basis: 100%;
        margin-bottom: ($base-line-height / 2);
      }
    }
  }

}

.l-col {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.l-between {
  justify-content: space-between;
}

.l-end {
  justify-content: flex-end;
  text-align: end;
}

.l-start {
  justify-content: flex-start;
  text-align: start;

  &\@media-wide {
    @include media-max($media-wide) {
      justify-content: flex-start;
      text-align: start;
    }
  }

  &\@media-desktop {
    @include media-max($media-desktop) {
      justify-content: flex-start;
      text-align: start;
    }
  }
}

.l-center {
  justify-content: center;
  text-align: center;

  &\@media-wide {
    @include media-max($media-wide) {
      justify-content: center;
      text-align: center;
    }
  }

  &\@media-desktop {
    @include media-max($media-desktop) {
      justify-content: center;
      text-align: center;
    }
  }
}

.l-top {
  align-items: flex-start;
}

.l-middle {
  align-items: center;
}

.l-bottom {
  align-items: flex-end;
}
