.sg-content {

    &__header {
      align-items: flex-end;
      background-color: $color-secondary-darkest;
      box-sizing: border-box;
      color: $color-white;
      display: flex;
      min-height: ($base-line-height * 8);
      padding: 2em 0;
    }

    &__page-title {
      font-size: 2.25rem;
      font-weight: 300;
    }

    &__page-description {
      color: #B5BEC0;
      font-size: 1.125rem;
      font-weight: 300;
      margin-top: 0.25em;
    }

    &__main {
      padding-top: 3em;
    }
}

.sg-pattern {
  margin: 5em 0;

  &__heading {
    border-bottom: 1px solid $color-gray-light;
    color: $color-secondary-dark;
    font-size: 1.75rem;
    font-weight: 300;
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
  }

}


.content {
  flex: 5 0 0;
}

pre {
  background: $color-gray-lightest;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 3rem 0;
  max-width: 90%;
  overflow: scroll;
}

code {
  font-family: Menlo, monospace;
}



.example {
  @include clearfix;
  margin-top: 1.5rem;

  &__container-lg {
    max-width: 52rem;
  }

  &__container-med {
    max-width: 30rem;
  }

  pre {
    margin-top: 5rem;
  }

  > h1, > h2, > h3, > h4, > h5, > h6 {
    font-weight: 500;
    margin: 6em 0 3em;
    text-transform: uppercase;
  }
}

.force-inline {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 2rem;
  text-align: center;

  & > .hexagon {
    display: inline-block;
    margin-right: 1rem;
  }

  &:last-child {
    margin-right: 0;
  }
}

.force-clear {
  @include clearfix;
  clear: both;
}

.section_container {
  background-color: #1F2C38;
  margin-top: 6rem
}

// OVERRIDES
// These styles override source styling for components in order to better
// document the styling and behavior of components.

.container {
  //background-color: DodgerBlue;
  //color: white;

  & > {
    background-color: DeepSkyBlue;
  }
}
