.wrapper {
  // display: flex;
  display: block;
}

.header {
  // background-color: #efefef;
  // flex: 1 0 0;
  display: none;
}

.header-title {
  text-align: center;
}

.header-side {
  padding-top: 2em;

  .nav {
    border-bottom: 1px solid #ddd;
    display: block;
  }

  .page-link {
    border-top: 1px solid #ddd;
    display: block;
    font-size: 0.75em;
    padding: 1em;
    text-transform: uppercase;
  }
}

.header-title {
  span {
    display: inline-block;
    margin-left: 10px;
    margin-top: 6px;
    vertical-align: top;
  }
}

.logo {
  height: 30px;
  margin: 0 1em;
  width: 160px;
}
