body {
  background-color: #FFFFFF; }

main {
  position: relative; }

html {
  font-size: 16px; }

body {
  font-size: 16px; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

.c-well {
  background: #F6F6F6;
  display: block;
  padding: 18px 31px; }
  .c-well--info {
    border-bottom: 1px solid #F87E21;
    border-top: 1px solid #FFFFFF; }
  .c-well--alert {
    border-bottom: 1px solid #D31D1D;
    border-top: 1px solid #FFFFFF; }
