
// Ads: a component that wraps around display ads and provides .
// Useful for related links, episode rundowns, trending topics, etc.
//
// .c-ad--x-pad        - Doubles the default padding around a display ad.
// .c-ad--xx-pad       - Quadruples the default padding around a display ad.
// .c-ad--hp           - Optimizes ad layout to be in sync with our homepage layout.
// .c-ad__container    - Wrapper that encloses an ad tag ad attribution.
// .c-ad__attribution  - Text/link attribution identifying display ad as sponsored.
//
// Styleguide 0.1.0

.c-ad {
  display: block;
  padding: ($base-line-height / 2);

  &--x-pad {
    padding: $base-line-height;
  }

  &--xx-pad {
    padding: ($base-line-height * 2);
  }

  &--hp {
    box-shadow: inset 17rem 0 0 $color-gray-lightest;
    padding: $base-line-height 0 $base-line-height 19rem;
    position: relative;

    &:after {
      border-top: 1px solid $color-gray-light;
      content: '';
      display: block;
      left: 17rem;
      position: absolute;
      right: 0;
      top: 0;
    }

    @include media-max($media-tablet) {
      border-top: 1px solid $color-gray-light;
      box-shadow: none;
      padding-left: 0;

      &:after {
        display: none;
      }
    }
  }

  &__container {
    display: block;
    margin: 0 auto;
    text-align: center;

    &--hp {
      margin: 0;
      text-align: left;

      @include media-max($media-tablet) {
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  &__banner {
    display: block;
    margin: 0 auto;

    &--align-left {
      margin: 0;

      @include media-max($media-tablet) {
        margin: 0 auto;
      }
    }
  }

  &__attribution {
    color: $color-gray;
    display: inline-block;
    font-size: ms(-3);

    &:hover {
      text-decoration: underline;
    }
  }
}
