
// Mast: Wraps branding and navigation elements for site wayfinding.
//
// .mast--top       - Fixes the positioning of the masthead to the top of the page.
//
// Styleguide 0.2.0

.mast {
  align-items: center;
  border-bottom: 1px solid $color-gray-light;
  display: flex;
  min-height: $base-line-height * 1.5;
  position: relative;

  @include media-max($media-tablet) {
    min-height: ($base-line-height * 2) - 1rem;
  }

  &--top {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__nav {
    margin-left: auto;

    @include media-max($media-tablet) {
      background-color: $color-gray-lightest;
      bottom: 0;
      display: none;
      left: 0;
      position: fixed;
      right: 0;
      top: 2.6rem;
    }

  }

  &__nav-sections {

    @include media-max($media-wide) {
      border-bottom: 1px solid darken($color-gray-light, 10%);
      left: 0;
      position: absolute;
      right: 0;
      top: 3.5rem;

      a {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;

        @include media-max($media-tablet) {
          border-bottom: 1px solid $color-gray-light;
          font-size: ms(0);
          padding-bottom: ($base-line-height / 1.5);
          padding-top: ($base-line-height / 1.5);

          &:hover {
            background-color: $color-white;
          }

        }

      }

    }

    @include media-max($media-tablet) {
      border-bottom-color: $color-gray-light;
      top: 0;
    }

  }

  &__nav-actions {

    @include media-max($media-tablet) {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
    }

  }

  &__branding {
    margin-left: ($base-line-height / 2);

    @include media-max($media-tablet) {
      margin-left: 0;
      text-align: center;
      width: 100%;
    }

  }

  &__logo-link {
    display: inline-block;
    margin-top: .1875rem;
    vertical-align: middle;

    @include media-max($media-tablet) {
      border-bottom: 1px solid $color-gray-light;
      display: block;
      padding: 0.5rem 0;
    }

  }

  &__logo {
    display: inline-block;
    height: 22px;
    width: 150px;

    @include media-max($media-tablet) {
      height: 16px;
      width: 107px;
    }

  }

  &__divider {
    background-color: $color-gray-light;
    display: inline-block;
    height: $base-line-height;
    margin: 0 1.125rem;
    vertical-align: middle;
    width: 1px;

    @include media-max($media-tablet) {
      display: none;
    }

    &--margin-sm {
      margin: 0 0.5rem;
    }

  }

  &__search-link {

    @include media-max($media-tablet) {
      padding: 0;
      position: fixed;
      right: 0.5rem;
      top: 0.6rem;
    }

  }

  &__donate-link {

    @include media-max($media-tablet) {
      background-color: $color-secondary-light;
      border-top: 1px solid $color-secondary;
      font-size: ms(0);
      text-align: center;
    }

  }

  &__currently-airing {
    font-size: ms(-1);

    @include media-max($media-tablet) {
      background-color: $color-gray-lightest;
      display: block;
      font-size: ms(-2);
      padding: 0.5rem 0.25rem;
    }
  }

  &__currently-airing-label {

    @include media-max($media-tablet) {
      font-size: ms(-2);
    }

  }

  &__currently-airing-program {
    color: $color-gray-dark;
    font-size: ms(-1);
    font-weight: 400;
    text-transform: none;

    @include media-max($media-tablet) {
      font-size: ms(-2);
    }

  }

  &__mobile-menu-toggler {
    border: 0;
    color: $color-gray;
    display: none;
    font-weight: 500;
    left: 0.25rem;
    margin: 0;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0.6rem;

    @include media-max($media-tablet) {
      display: block;
    }

  }

}

.js-mast {

  &__nav--active {
    display: block;
    z-index: 200;
  }

}
