
// Media Objects: Media objects wrap up a global design pattern for
// image + copy used to represent a piece of content.
//
//
// Styleguide 0.1.0

.media {
  @include clearfix();
  display: block;
  margin: 0 0 $base-line-height;

  &__figure {
    display: block;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__content {
    display: block;
  }

  &__meta {
    display: block;
    margin: 0 0 0.25rem;
  }

  &__headline {
    font-family: $font-serif-titling;
    line-height: 1.1em;
    margin: 0 0 1.125rem;

    &--h1 {
      font-size: ms(5);
      font-style: italic;
      font-weight: 600;
    }

    &--h2 {
      font-size: ms(3);
      font-weight: 600;
    }

    &--h3 {
      font-size: ms(3);
      line-height: 1.222222222em;
    }

    &--h4 {
      font-size: ms(0);
      line-height: 1.222222222em;
    }

    a {

      &:hover {
        @include link-underline(darken($color-gray-light, 10%));
      }

    }

  }

  &__title {
    color: $color-gray-dark;
    line-height: 1.1em;
    margin: 0 0 1rem;

    &--h2 {
      font-size: ms(2);
    }

    &--h3 {
      font-size: ms(-1);
      line-height: 1.3333333em;
    }

  }

  &__entityTitle {
    display: inline-block;
    font-size: ms(-1);
    font-weight: 500;
    text-transform: uppercase;

    &--small {
      font-size: ms(-2);
    }

  }

  &__label {
    color: $color-primary;
    display: inline-block;
    font-size: ms(-1);
    font-weight: 500;
    text-transform: uppercase;
  }

  &__byline {
    color: $color-gray-dark;
    display: block;
    font-size: ms(-2);
    font-weight: 500;
  }

  &__timestamp, &__source {
    color: $color-gray;
    font-size: ms(-2);
    font-weight: 500;
    text-transform: uppercase;
  }

  &__teaser {
    color: $color-gray-dark;
    font-size: ms(-1);
    line-height: 1.666666667em;

    &--small {
      font-size: ms(-2);
    }
  }

}

.media--hp {
  border-top: 1px solid $color-gray-light;
  box-shadow: inset 17em 0 0 $color-gray-lightest;
  padding: $base-line-height 0 $base-line-height 19em;

  .media__label {
    font-size: ms(-2);
  }

  .media__figure {
    margin: 0 0 $base-line-height;
  }
}

.media--horizontal {

  .media__figure {
    float: left;
    margin-right: 3.5550459%;
    width: 37.5%;
  }

  .media__bylineText {
    border-bottom: 4px solid $color-gray-light;
    padding-bottom: 0.5rem;
  }

}

.media--horizontalSmall {
  align-items: center;
  display: flex;
  justify-content: center;

  .media__figure {
    margin-right: 1.125rem;
    max-width: 5.625rem;
  }

  .media__headline, .media__title {
    margin: 0;
  }

}

.media--block {

  .media__figure {
    border-bottom: 4px solid $color-primary;
  }

}

.media--blockSimple {

  .media__headline {
    margin-top: 0.5rem;
  }

}
