
// Media Objects: Media objects wrap up a global design pattern for
// image + copy used to represent a piece of content.
//
// .media--last                 - utility to remove bottom marging from the last media object in a list
// .media--hp                   - a media object optimized for our homepage layout
// .media--hp-large             - homepage media object with large image asset
// .media--new-and-unread       - marks a media object as new and unread
// .media--block                - block asset with full media content details
// .media--blockSimple          - block asset with short headline
// .media--horizontal           - float left asset with full media content details
// .media--horizontalSmall      - small float left asset with short headline
//
// Styleguide 0.1.0

.media {
  @include clearfix();
  display: block;
  margin: 0 0 $base-line-height;

  &__figure {
    display: block;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__content {
    display: block;
  }

  &__related-content {
    border-top: 1px solid lighten($color-primary, 30%);
    margin: $base-line-height 0 0;
    padding: $base-line-height 0 0;
  }

  &__meta {
    display: block;
    margin: 0 0 0.25rem;
  }

  &__indicator-visited {
    position: absolute;
    left: ($base-line-height / -2);
    top: 1rem;
  }

  &__headline {
    font-family: $font-serif-titling;
    line-height: 1.1em;
    margin: 0 0 1.125rem;

    &--h1 {
      font-size: ms(6);
      font-weight: 800;
    }

    &--h2 {
      font-size: ms(4);
      font-weight: 800;
    }

    &--h3 {
      font-size: ms(3);
      line-height: 1.222222222em;
    }

    &--h4 {
      font-family: $font-sans-base;
      font-size: ms(1);
      line-height: 1.222222222em;
    }

    &--h5 {
      font-family: $font-sans-base;
      font-size: ms(0);
      line-height: 1.222222222em;
    }

    a {
      position: relative;

      &:hover {
        @include link-underline(darken($color-gray-light, 10%));
      }

      &:visited {
        .media__indicator-visited path {
          fill: $color-gray;
          stroke: $color-gray;
        }
      }

    }

  }

  &__title {
    color: $color-gray-dark;
    line-height: 1.1em;
    margin: 0 0 1rem;

    &--h2 {
      font-size: ms(2);
    }

    &--h3 {
      font-size: ms(-1);
      line-height: 1.3333333em;
    }

  }

  &__entityTitle {
    display: inline-block;
    font-size: ms(-1);
    font-weight: 500;
    text-transform: uppercase;

    &--small {
      font-size: ms(-2);
    }

  }

  &__label {
    color: $color-primary;
    display: inline-block;
    font-size: ms(-1);
    font-weight: 500;
    text-transform: uppercase;
  }

  &__byline {
    color: $color-gray-dark;
    display: block;
    font-size: ms(-2);
    font-weight: 500;
  }

  &__timestamp, &__source {
    color: $color-gray;
    font-size: ms(-2);
    font-weight: 500;
    text-transform: uppercase;
  }

  &__dek {
    color: $color-gray;
    font-size: ms(0);
    line-height: 1.470588235em;
    margin-bottom: 1em;
  }

  &__teaser {
    color: $color-gray-dark;
    font-size: ms(-1);
    line-height: 1.666666667em;

    &--small {
      font-size: ms(-2);
    }

    &--bullet {
      margin-bottom: 1em;
    }

  }

}

// MEDIA OBJECT MODIFIERS
//
// Breaking out modifiers into their own SCSS blocks and selectively overriding
// element styles to create different flavors of our media object.
//
// We're bending some BEM rules here by having 1-deep nested selectors, but in
// exchange for that we get a single common markup pattern for media objects.

.media--last {
  margin-bottom: 0;
}

.media--new-and-unread {

  .media__headline {
    position: relative;

    &::before {
      background-color: $color-primary;
      border-radius: 50%;
      content: "";
      display: block;
      height: 0.5rem;
      left: ($base-line-height / -2);
      position: absolute;
      top: 1rem;
      width: 0.5rem;
    }

  }

  .media__indicator-visited {
    display: none;
  }

}

.media--hp {
  border-top: 1px solid $color-gray-light;
  box-shadow: inset 17rem 0 0 $color-gray-lightest;
  padding: $base-line-height 0 $base-line-height 19rem;

  > .media__figure {
    margin: 0 0 $base-line-height;
  }

  > .media__headline {
    margin: 0 0 $base-line-height;
  }

  > .media__label {
    font-size: ms(-2);
  }

  .media__related-content {
    margin-left: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

}

.media--hp-large {
  margin-top: $base-line-height;

  > .media__content {
    box-shadow: inset 17em 0 0 $color-gray-lightest;
    padding: $base-line-height 0 $base-line-height 19em;
  }

  > .media__figure {
    border-bottom: 6px solid $color-primary-alt;
    margin: 0 ($base-line-height * -1);
  }

  > .media__headline {
    margin: 0 0 $base-line-height;
  }

  .media__label {
    font-size: ms(-2);
  }

}

.media--horizontal {

  .media__figure {
    float: left;
    margin-right: 3.5550459%;
    width: 37.5%;
  }

  .media__bylineText {
    border-bottom: 4px solid $color-gray-light;
    padding-bottom: 0.5rem;
  }

}

.media--horizontalSmall {
  align-items: center;
  display: flex;
  justify-content: center;

  .media__figure {
    margin-right: 1.125rem;
    max-width: 5rem;
  }

  .media__headline, .media__title {
    margin: 0;
  }

}

.media--block {

  .media__figure {
    border-bottom: 4px solid $color-primary;
  }

}

.media--blockSimple {

  .media__headline {
    margin-top: 0.5rem;
  }

}
