
// Wells: enclose a block of content in a container with a solid background.
// Useful for alerts, ticker-style bars
//
// .well--info        - Adds a bottom border with our brand color.
// .well--alert       - Adds a red bottom border.
//
// Styleguide 0.1.0

.c-well {
  background: $color-gray-lightest;
  display:  block;
  padding: $ms-base $line-height;

  &--info {
    border-bottom: 1px solid $color-primary;
    border-top: 1px solid $color-white;
  }

  &--alert {
    border-bottom: 1px solid $color-alert;
    border-top: 1px solid $color-white;
  }
}
