// Mast: Wraps branding and navigation elements for site wayfinding.
//
//
// Styleguide 0.2.0

// ALL SCREENS

.state-checkbox
  display: none

$o-mast-full-height: 60px

@mixin o-mast-defaults
  align-items: center
  background: $color-white
  border-bottom: 1px solid $color-gray-light
  display: flex
  height: $o-mast-full-height
  position: relative

  .o-mast__branding
    align-items: center
    display: flex
    float: left
    padding: 9.6px
    min-width: 150px // IE & safari fix
    transition: min-width 0.5s
    @media (max-width: $media-tablet)
      min-width: 107px // IE & safari fix

  .o-mast__logo
    height: 22px
    transition: width 0.5s
    width: 150px
    @media (max-width: $media-tablet)
      height: 16px
      width: 107px

  .o-mast__caption
    display: none
    font-size: 11.2px
    overflow-x: hidden
    padding-left: $gutter
    width: 133px

  .o-mast__sections
    display: flex
    > .o-mast__actions
      display: none

  .o-mast__item
    align-items: center
    display: flex
    height: $o-mast-full-height  // because internet explorer
    vertical-align: middle
    &:hover
      box-shadow: inset 0 -4px 0 0 $color-primary

  .o-mast__item-details
    background-color: $color-gray-lightest
    box-shadow: 0 1px 3px $color-gray
    box-sizing: border-box
    color: $color-black
    display: none
    font-size: 13px
    justify-content: flex-start
    left: 0
    overflow: hidden
    margin-left: auto
    margin-right: auto
    max-height: 384px
    min-height: 210px
    padding: $gutter
    position: absolute
    text-align: start
    top: $o-mast-full-height
    width: 100%
    z-index: 9999

  .o-mast__item:hover > .o-mast__item-details
    display: block
    display: flex

  .o-mast__section
    margin-bottom: 15px
    margin-right: $gutter
    min-width: 15%

  .o-mast__section-heading
    border-bottom: solid 2px $color-primary-lightest
    color: $color-gray
    font-family: $font-sans-base
    padding-bottom: 5px
    margin-bottom: 10px
    font-size: 18px
    font-weight: 700

  .o-mast__section-list
    color: $color-black
    display: block
    font-family: $font-sans-base
    font-size: 13px
    > li
      padding-top: 15px

  .o-mast__nav-link
    color: $color-gray-warm
    font-size: 15px
    font-weight: 500
    padding-left: 15px
    padding-right: 15px
    text-decoration: none
    text-transform: uppercase
    white-space: nowrap
    @media (max-width: $media-wide)
      padding-left: 10px
      padding-right: 10px

  .o-mast__actions
    align-items: center
    display: flex
    float: right
    font-size: 15px
    justify-content: flex-end
    margin-left: auto
    @media (max-width: $media-tablet)
      font-size: 11.2px

  .o-mast__action
    $side-padding: 16px ($base-line-height / 2)
    align-items: center
    color: $color-gray-warm
    display: block
    display: flex
    font-weight: 500
    height: 18px
    padding-left: 15px
    padding-right: 15px
    text-decoration: none
    text-transform: uppercase
    &:active 
      color: $color-black
    &--inline 
      padding: 0
      &:hover 
        background-color: transparent
    > *
      align-items: center
      cursor: pointer
      cursor: hand
      display: flex
      justify-content: flex-end
    @media (max-width: $media-tablet)
      padding: 9.6px

  .o-mast__item-caption
    @media (max-width: $media-mobile)
      display: none

  .o-mast__search
    height: 100%
    form
      margin-bottom: 0
      input
        @extend .input-text, .input--align-bottom, .input--focused-placeholder
        align-self: flex-end
        border-color: $color-secondary
        transition: width 0.5s
        width: 0%
        &::placeholder
          @media (max-width: $media-desktop)
            font-size: 13px
          @media (max-width: $media-mobile)
            font-size: 11px
      .o-mast__search-link
        padding: 6.4px
        transition: all 0.5s
        &:hover
          cursor: pointer
        .icon
          height: 20px
          width: 20px
        .icon use
          @extend .icon--line, .icon--color-gray

  .o-mast__donate
    color: $color-secondary
    &:hover
      color: $color-secondary-dark

  .o-mast__menu
    display: none

  .o-mast__menu-toggler
    align-items: center
    user-select: none

  .o-mast__menu-icon--opened
    margin-right: 3.2px




@mixin o-mast-compact

  .o-mast__caption
    @media (min-width: $media-mobile)
      // there's no room for this on mobile
      display: inline-block
    @media (max-width: $media-tablet)
      display: none

  .o-mast__menu
    display: block
    display: flex

  .o-mast__sections
    background-color: $color-gray-lightest
    box-shadow: 0 1px 3px $color-gray
    box-sizing: border-box
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    left: 0
    opacity: 0
    padding: $gutter
    padding-top: $gutter / 2
    position: absolute
    top: 0
    transform: translateY(-101%)
    transition: transform 0.5s, opacity 0s linear 0.5s
    width: 100%
    z-index: 5

  .o-mast__sections > .o-mast__actions
    display: block
    display: flex
    justify-content: flex-end
    width: 100%

  .o-mast__item
    display: block
    height: 100%
    width: 50% - $gutter
    @media (max-width: $media-mobile)
      width: 100%
    &:hover
      box-shadow: none

  .o-mast__nav-link
    border-bottom: solid 2px #f8dac3
    box-sizing: border-box
    color: $color-gray-warm
    display: block
    height: 30px
    margin-bottom: 10px
    padding-left: 0

  .o-mast__item-details
    background: none
    box-shadow: none
    box-sizing: border-box
    display: flex
    max-height: none
    padding: $gutter
    position: relative
    top: 0

  .o-mast__section
    margin-bottom: 32px
    margin-right: $gutter-in-pixels

  .o-mast__section-heading
    border-bottom: none
    color: $color-black
    font-size: 14.4px
    margin-bottom: none



#o-mast__menu-toggler-checkbox:checked ~ .o-mast
  .o-mast__sections
    opacity: 1
    transform: translateY(0%)
    transition: transform 0.5s, opacity 0s linear 0s


#o-mast__search-toggler-checkbox:checked ~ .o-mast
  .o-mast__search input
    width: 100%
  .o-mast__search-link
    box-shadow: inset 0 0 0 1px $color-secondary
    .icon use
      @extend .icon--line, .icon--color-link
  .o-mast__logo
    @media (max-width: ($media-mobile + $media-tablet) / 2)
      // there's a place between both screen sizes
      // where it works well to hide the logo
      // for the search input
      width: 0px
    @media (min-width: $media-desktop)
      width: 0px
  .o-mast__caption
    @media (max-width: $media-tablet)
      display: none
  .o-mast__branding
    min-width: 0px


.o-mast
  @include o-mast-defaults
  @media (max-width: $media-desktop)
    @include o-mast-compact
.o-mast.o-mast--compact
  @include o-mast-defaults
  @include o-mast-compact