
// Mast: Wraps branding and navigation elements for site wayfinding.
//
// .mast--top       - Fixes the positioning of the masthead to the top of the page.
//
// Styleguide 0.2.0

// ALL SCREENS

.state-checkbox {
  display: none;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

.o-mast {
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid $color-gray-light;
  display: flex;
  min-height: $base-line-height * 1.5;
  position: relative;

}

.o-mast--top {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.o-mast__nav {
  margin: 0;
  margin-left: auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.o-mast__nav-sections {
  float: left;
}

.o-mast__nav-actions .c-nav__item, .o-mast__nav-sections .c-nav__item, .o-mast__branding {
  > *:first-child {
    height: 28px;
    display: flex;
    align-items: center;
  }
}

.o-mast__nav-actions {
  float: right;
}

.o-mast__nav-actions .c-nav__item .o-mast__menu-toggler {
  display: none;
  user-select: none;
}

.o-mast__branding {
  display: flex;
  float: left;
  padding: 0.6rem;
}

.o-mast__branding-caption {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0;
  padding-left: 5%;
  padding-right: 0;
  width: 10rem;
}

.o-mast__menu-toggler * {
  float: left;
}

.o-mast__menu-toggler-caption {
  &--closed {
    display: block;
  }
  &--opened {
    display: none;
  }
}

.o-mast__logo-link {
  display: inline-block;
  float: left;
  margin-top: .1875rem;
  vertical-align: middle;
}

.o-mast__logo {
  display: inline-block;
  height: 22px;
  width: 150px;
}

.o-mast__divider {
  background-color: $color-gray-light;
  display: inline-block;
  height: $base-line-height;
  margin: 0 1.125rem;
  vertical-align: middle;
  width: 1px;
}

.o-mast__currently-airing {
  font-size: ms(-1);
}

.o-mast__currently-airing-program {
  color: $color-gray-dark;
  font-size: ms(-1);
  font-weight: 400;
  text-transform: none;
}

.o-mast__mobile-menu-toggler {
  border: 0;
  color: $color-gray;
  display: none;
  float: right;
  font-weight: 500;
  left: 0.25rem;
  margin: 0;
  margin-top: 0.6rem;
  padding: 0;
  text-transform: uppercase;
}

.c-search {
  float: right;
  position: relative;
}

.c-search form {
  display: none;
}

.o-mast__search-link {
  float: right;

  &:focus {
    // display: none;
    ~ .c-search {
      left: initial;
      position: initial;
      top: initial;
    }
  }
}

.c-search:focus {
  left: initial;
  position: initial;
  top: initial;

  ~ .o-mast .c-nav {
    display: none;
  }
}

.icon--search-close {
  display: none;
}

#o-mast__search-toggler-checkbox:checked ~ .o-mast {
  // if search box open

  .o-mast__search {
    position: absolute;
    top: 0;
  }

  .o-mast__nav-actions .c-nav__item:not(.o-mast__search) {
    display: none;
  }

  .c-nav {
    // switch the menu toggle icon

    .o-mast__search .icon--search-close {
      display: block;
    }

    .o-mast__search .icon--search-open {
      display: none;
    }

    .o-mast__search {
      margin-top: 1rem;
      position: absolute;
      right: 0;
    }

  }

  .c-nav__item .c-search {
    padding: 0;
    left: 1.25rem;
    // height: 1rem;
    // margin-top: 0.3125rem;

    form {
      display: flex;
      float: right;
      width: 75%;
    }

    label {
      position: absolute;
      top: 50%;
      bottom: 50%;
      transform: translate(-50%, -50%);      
      width: 3rem;
    }

  }

  .o-mast__nav .o-mast__nav-actions {
    float: right;
    display: block;
    width: 50%;
    .o-mast__search {
      float: right;
    }
  }

}

.o-mast__menu-icon--closed {
  display: block;
}

.o-mast__menu-icon--opened {
  display: none;
}

#o-mast__menu-toggler-checkbox:checked ~ .o-mast {
  // if menu is open on any screen size

  .o-mast__menu-toggler {
    margin-right: 1rem;
  }

  .o-mast__menu-icon--closed {
    display: none;
  }

  .o-mast__menu-icon--opened {
    display: block;
    margin-right: 0.2rem;
  }

  .o-mast__menu-toggler-caption--closed {
    display: none;
  }

  .o-mast__menu-toggler-caption--opened {
    display: block;
  }

}



// DESKTOP

@include media-max($media-desktop) {
  #o-mast__search-toggler-checkbox:checked ~ .o-mast {
    // if search box open
    // .o-mast__branding-caption {
    //   display: none;
    // }
  }

  .c-nav__link {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}


// TABLET

@include media-max($media-tablet) {
  .o-mast {
    margin-bottom: 0;
    min-height: ($base-line-height * 2) - $base-number;
  }

  .o-mast__nav-actions .c-nav__item .o-mast__menu-toggler {
    display: flex;
    align-items: center;
  }

  .o-mast__nav {
    // This stuff prevents line breaking, for the most part.
    display: flex;
    justify-content: space-between;
    // min-height: initial;
    // max-height: 2.5zrem;

    .o-mast__nav-actions {
      display: flex;
      justify-content: space-between;
    }
  }

  #o-mast__menu-toggler-checkbox:checked ~ .o-mast {
    // if menu is open on any screen size

    &::before {
      background: $color-gray-lightest;
      content: '';
      height: 2.2rem;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  .o-mast__nav-sections .c-nav__dropdown .c-nav__section {
    margin-bottom: 2rem;
  }

  .o-mast__nav-sections {
    border-bottom-color: $color-gray-light;
    display: none;
    top: 0;
    width: 100%;

    .c-nav__link {
      border-bottom: solid 2px $color-primary-lightest;
    }
  }

  .o-mast__nav-actions {
    .c-nav__link {
      font-size: 0.7rem;
    }
  }

  .o-mast__branding {
    padding: 0.4rem;
  }

  .o-mast__branding-caption {
    transform: translateY(-0.3rem);
    display: none;
    //
    // revisit this
    //
    // transform: translateY(0.3rem);
    // font-size: 0.7rem;
    // width: 8rem;
  }

  .o-mast__logo-link {
    // border-bottom: 1px solid $color-gray-light;
    display: block;
    padding: 0.5rem 0;
  }

  .o-mast__logo {
    height: 16px;
    width: 107px;
  }

  .o-mast__divider {
    display: none;
  }

  #o-mast__search-toggler-checkbox:checked ~ .o-mast {
    // if search box open

    .o-mast__search {
      margin-top: 0.7rem;
    }
  }

  .o-mast__currently-airing {
    background-color: $color-gray-lightest;
    display: block;
    font-size: ms(-2);
    padding: 0.5rem 0.25rem;
  }

  .o-mast__currently-airing-label {
    font-size: ms(-2);
  }

  .o-mast__currently-airing-program {
    font-size: ms(-2);
  }

  #o-mast__search-toggler-checkbox:checked ~ .o-mast {
    // if search box open

    .o-mast__nav {
      min-height: 3.375rem;
    }

    .o-mast__nav > * {
      transform: translateY(0.2rem);
    }


    .o-mast__logo-link {
      margin-top: 0;
    }

  }

  #o-mast__search-toggler-checkbox:checked ~ #o-mast__menu-toggler-checkbox:checked ~ .o-mast .o-mast__nav-sections .c-nav__item {
    // we don't want to hide the section items
    // when the menu is down on mobile.
    display: block;
  }

  #o-mast__menu-toggler-checkbox:checked ~ .o-mast {
    // if menu open at max-size of tablet

    .o-mast__nav {
      background-color: $color-gray-lightest;
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 2.2rem;
      overflow-y: scroll;
    }

    .o-mast__nav > .o-mast__branding, .o-mast__nav > .o-mast__nav-actions {
      transform: translateY(-0.2rem);
    }

    .c-nav__dropdown {
      box-sizing: border-box;
      max-height: initial;
      // min-height: 13.125rem;
      opacity: 1;
      padding: $gutter;
      position: relative;
      // z-index: 9999;
    }

    .o-mast__branding, .o-mast__nav-actions .c-nav__item:not(.o-mast__menu) {
      // only display the close button for the menu
      // when the menu is open on small screens
      display: none;
    }

    .o-mast__nav-sections {
      display: block;
    }

    .o-mast__nav-sections .c-nav__item {
      width: 100%;

      &:hover {
        box-shadow: none;
      }
    }

    .o-mast__nav-actions {
      height: 2.75rem;
      position: fixed;
      right: 0;
      top: 0;
    }

  }

}


// MOBILE

@include media-max($media-mobile) {
  .o-mast {
    .c-nav__item-caption {
      display: none;
    }
  }

  #o-mast__search-toggler-checkbox:checked ~ .o-mast {
    .o-mast__nav .o-mast__nav-actions {
      width: 100%;
    }
    .c-nav__item {
      .o-mast__search {
        width: 100%;
        // right: 5px;
        // top: -5px;
        form, form input {
          // width: 8rem;
          width: 100%;
        }
        position: relative;
      }
    }

    .o-mast__branding {
      display: none;
    }
  }
}
