
// CLEARFIX

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}


// UNDERLINES
// Sweet, sexy underlines for hyperlinks

@mixin link-underline($underline-color, $bg-color: $color-white) {
  background: linear-gradient($bg-color, $bg-color), linear-gradient($bg-color, $bg-color), linear-gradient($underline-color, $underline-color);
  background-position: 0 90%, 100% 90%, 0 90%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: .05em 1px, .05em 1px, 1px 1px;
  text-shadow: .03em 0 $bg-color, -.03em 0 $bg-color, 0 .03em $bg-color, 0 -.03em $bg-color, .06em 0 $bg-color, -.06em 0 $bg-color, .09em 0 $bg-color, -.09em 0 $bg-color, .12em 0 $bg-color, -.12em 0 $bg-color, .15em 0 $bg-color, -.15em 0 $bg-color;
}


// CONTAINER WIDTHS
// Calculate max-widths for grid containers.

@mixin container-width($rems) {

  // Calculate max-width using gutter as an important number,
  // and adding two extra gutters equal to the standard
  // padding given to containers.
  $max-container-width: ($rems * $gutter) + ($gutter * 2);

  max-width: $max-container-width;
}


// MEDIA QUERIES

// Min-width media queries
@mixin media-min($query) {
  @media ('min-width:' + $query) {
    @content;
  }
}

// Max-width media queries
@mixin media-max($query) {
  @media ('max-width:' + $query) {
    @content;
  }
}

// ANIMATIONS & TRANSITIONS

// Fade anything in or out
@mixin transition-fade() {
  // styles here
}
