<h1>Web: Base Styles</h1>

<% blog.articles.sort_by{ |a| a.data.pattern_number.to_f }.each do |article|%>
  <% next unless article.tags.include? "base" %>
  <%= partial("_partials/component", :locals => { :article => article} ) %>
<% end %>
