<h1>Web: Components</h1>

<% blog.articles.each do |article| %>
  <% next unless article.tags.include? "component" %>
  <%= partial("_partials/component", :locals => { :article => article} ) %>
<% end %>
