
// Mast: Wraps branding and navigation elements for site wayfinding.
//
// .mast--top       - Fixes the positioning of the masthead to the top of the page.
//
// Styleguide 0.2.0

#o-mast__menu-toggler-checkbox {
  display: none;

  .o-mst_menu-toggler-close {
    display: none;
  }
}

.state-checkbox {
  display: none;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

.o-mast {
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid $color-gray-light;
  display: flex;
  min-height: $base-line-height * 1.5;
  position: relative;

  @include media-max($media-tablet) {
    margin-bottom: 0;
    min-height: ($base-line-height * 2) - 1rem;
  }

  .o-mast__menu-toggler {
    display: none;
    user-select: none;

    @include media-max($media-tablet) {
      display: block;
    }
  }

  .c-nav__item-caption {
    @include media-max($media-mobile) {
      display: none;
    }
  }

}

.o-mast--top {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}


.o-mast__nav {

  @include media-max($media-tablet) {
    // This stuff prevents line breaking, for the most part.
    display: flex;
    justify-content: space-between;

    .o-mast__nav-actions {
      display: flex;
      justify-content: space-between;
    }
  }

  margin: 0;
  margin-left: auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.o-mast__nav-sections {

  float: left;

  @include media-max($media-tablet) {
    border-bottom-color: $color-gray-light;
    display: none;
    top: 0;
    width: 100%;
  }

  .c-nav__link {
    @include media-max($media-tablet) {
      border-bottom: solid 2px $color-primary-lightest;
    }
  }

}

.o-mast__nav-actions {
  float: right;

  .c-nav__link {
    @include media-max($media-tablet) {
      font-size: 0.7rem;
    }
  }
}

.o-mast__branding {
  display: flex;
  float: left;
  padding: 0.6rem;

  @include media-max($media-tablet) {
    padding: 0.4rem;
  }
}

.o-mast__branding-caption {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0;
  padding-left: 5%;
  padding-right: 0;
  width: 10rem;

  @include media-min($media-tablet) {
    transform: translateY(-0.3rem);
  }

  @include media-max($media-tablet) {
    display: none;
    //
    // revisit this
    //
    // transform: translateY(0.3rem);
    // font-size: 0.7rem;
    // width: 8rem;
  }
}

.o-mast__logo-link {
  display: inline-block;
  float: left;
  margin-top: .1875rem;
  vertical-align: middle;

  @include media-max($media-tablet) {
    // border-bottom: 1px solid $color-gray-light;
    display: block;
    padding: 0.5rem 0;
  }

}

.o-mast__logo {
  display: inline-block;
  height: 22px;
  width: 150px;

  @include media-max($media-tablet) {
    height: 16px;
    width: 107px;
  }

}

.o-mast__divider {
  background-color: $color-gray-light;
  display: inline-block;
  height: $base-line-height;
  margin: 0 1.125rem;
  vertical-align: middle;
  width: 1px;

  @include media-max($media-tablet) {
    display: none;
  }

  &--margin-sm {
    margin: 0 0.5rem;
  }

}

.o-mast__currently-airing {
  font-size: ms(-1);

  @include media-max($media-tablet) {
    background-color: $color-gray-lightest;
    display: block;
    font-size: ms(-2);
    padding: 0.5rem 0.25rem;
  }
}

.o-mast__currently-airing-label {

  @include media-max($media-tablet) {
    font-size: ms(-2);
  }

}

.o-mast__currently-airing-program {
  color: $color-gray-dark;
  font-size: ms(-1);
  font-weight: 400;
  text-transform: none;

  @include media-max($media-tablet) {
    font-size: ms(-2);
  }

}

.o-mast__mobile-menu-toggler {
  border: 0;
  color: $color-gray;
  display: none;
  float: right;
  font-weight: 500;
  left: 0.25rem;
  margin: 0;
  margin-top: 0.6rem;
  padding: 0;
  text-transform: uppercase;
}


// SEARCH

.c-search {
  display: none;
  float: right;
  position: relative;
}

.o-mast__search-link {
  float: right;

  &:focus {
    // display: none;
    ~ .c-search {
      left: initial;
      position: initial;
      top: initial;
    }
  }
}

.c-search:focus {
  left: initial;
  position: initial;
  top: initial;

  ~ .o-mast .c-nav {
    display: none;
  }
}

.icon--search-close {
  display: none;
}

#o-mast__search-toggler-checkbox:checked ~ .o-mast {
  // if search box open

  @include media-max($media-tablet) {
    .o-mast__nav > * {
      transform: translateY(0.2rem);
    }

    .o-mast__branding {
      display: none;
    }

    .o-mast__logo-link {
      margin-top: 0;
    }

  }

  @include media-max($media-desktop) {
    .o-mast__branding-caption {
      display: none;
    }
  }

  .c-nav__item:not(.o-mast__search) {
    display: none;
  }

  .c-nav {
    // switch the menu toggle icon
    .o-mast__search .icon--search-close {
      display: block;
    }

    .o-mast__search .icon--search-open {
      display: none;
    }

  }

  .c-nav__item .c-search {
    display: block;
    form {
      display: flex;
    }
  }

}

#o-mast__search-toggler-checkbox:checked ~ #o-mast__menu-toggler-checkbox:checked ~ .o-mast .o-mast__nav-sections .c-nav__item {
  // we don't want to hide the section items
  // when the menu is down on mobile.
  @include media-max($media-tablet) {
    display: block;
  }
}


// MENU

#o-mast__menu-toggler-checkbox:checked ~ .o-mast {

  @include media-max($media-tablet) {
    .o-mast__nav {
      background-color: $color-gray-lightest;
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 2.75rem;
      overflow-y: scroll;
    }

    .o-mast__nav > .o-mast__branding, .o-mast__nav > .o-mast__nav-actions {
      transform: translateY(-0.2rem);
    }

    .c-nav__dropdown {
      box-sizing: border-box;
      max-height: 24rem;
      min-height: 13.125rem;
      opacity: 1;
      padding: $gutter;
      position: relative;
      z-index: 9999;
    }

    .o-mast__branding {
      position: fixed;
      top: 0;
    }

    .o-mast__nav-sections {
      display: block;
    }

    .o-mast__nav-sections .c-nav__item {
      width: 100%;

      &:hover {
        box-shadow: none;
      }
    }

    .o-mast__nav-actions {
      height: 2.75rem;
      position: fixed;
      right: 0;
      top: 0;
    }

  }

  &::before {
    background: #ffffff;
    content: '';
    height: 2.75rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

}
