---
title: Welcome to KPCC's Design System
---

<header class="sg-content__header">
  <div class="sg-content__container">
    <h1 class="sg-content__page-title">KPCC Design System</h1>
  </div>
</header>
